/* ============
    Colors 
============ */


/*  Primary  */

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

/*  Neutral  */

$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

/* ==============
    Typography  
============== */


/*  Body Copy  */

$font-size: 1.75rem;

/*  Font  */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;800&display=swap');
$font-family: 'Manrope',
sans-serif;
$fw-800:800;

/* Main */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background-color: $dark-blue;
    min-height: 100vh;
}

.sr--only {
    font-size: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    font-size: 1.4rem;
    padding-block: 15rem;
    padding-inline: 2rem;
    line-height: 1.4;
    // Only for iPad
    @media(min-width: 45rem) and (max-width: 1279px) {
        padding-inline: 14rem;
    }
}

.loader {
    position: absolute;
    border: 12px dotted $dark-blue;
    border-radius: 50%;
    animation: spin 2s ease-in-out infinite;
    width: 89px;
    height: 89px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top-color: aqua;
    }
    50% {
        border-left-color: aqua;
    }
    100% {
        transform: rotate(360deg);
    }
}

.advice__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-block: 2.5rem;
    padding-inline: 1.5rem;
    border-radius: 15px;
    //transform: scale(0);
    transition: transform 2s ease-in;
    background-color: $dark-grayish-blue;
    z-index: 3;
    box-shadow: -1rem 1rem 5rem -3rem;
    @media(min-width: 1280px) {
        font-size: 1.6rem;
        padding-block: 3rem;
        padding-inline: 2.45rem;
        width: min(40%, 34.375rem);
    }
}

.show {
    transform: scale(1);
}

.advice--id {
    font-size: 0.7rem;
    color: $neon-green;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.advice--text {
    color: $light-cyan;
    font-weight: $fw-800;
    text-align: center;
    //transform: translateX(-110%);
}

.card__divider {
    padding-block-end: 1.1rem;
}

.btn--dice {
    position: absolute;
    bottom: -2rem;
    border-radius: 50%;
    border: none;
    background-color: $neon-green;
    padding: 1.125rem 1.2rem;
    &:active {
        cursor: pointer;
        box-shadow: -0.2rem -0.2rem 2rem 0.3rem $neon-green;
    }
    @media(hover: hover) {
        &:hover {
            cursor: pointer;
            box-shadow: -0.2rem -0.2rem 2rem 0.3rem $neon-green;
        }
    }
    img {
        transition: transform 0.5s ease;
    }
    .animate {
        transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg);
    }
}

.footer__link {
    font-size: 1rem;
    color: $light-cyan;
    text-align: center;
    a {
        color: $neon-green;
        text-decoration: none;
    }
}